#google{
	width:150px;
}
#instagram{
width:150px;
}

body{

background-color: rgb(115, 194,251);	
}

#box1{
	border: 10px black solid;
}

#db1{
	border: 10px black solid;
	width: 75%;
	margin: auto;
	margin-left: 200px;
	margin-top:;
}